In [2]:
#import the Pandas package
import pandas as pd

#import the Numpy package
import numpy as np

simple_series = pd.Series(
                          index=[0, 1, 2, 3], # The index
                          name="Volume", # The name
                          data=[1000, 2600, 1524, 98000] # The data
                        )
simple_series

# Create a simple DataFrame object
simple_df = pd.DataFrame(
    index=[0, 1, 2, 3], # The index
    columns=["Volume"], # Your columns (must be inside a list object). AKA your column index.
    data=[1000, 2600, 1524, 98000] # Your data
)
simple_df

# Create another DataFrame object
another_df = pd.DataFrame(
    index=[0, 1, 2, 3], # The index
    columns=["Date", "Volume"], # Your columns (again, inside a list object). We will have 2 columns.
    data=[
          [20190101, 1000], # The data cells for the first row (row 0.) The cell for "Date" and then the cell for "Volume"
          [20190102, 2600], # Data cells for row 1
          [20190103, 1524], # Data cells for row 2
          [20190104, 98000] # Data cells for row 3
          ],
)|
another_df

       Date  Volume
0  20190101    1000
1  20190102    2600
2  20190103    1524
3  20190104   98000